---
import SiteShell from "../layouts/SiteShell.astro";
import TopNav from "../components/TopNav.astro";
import Hero from "../components/Hero.astro";
---
<SiteShell title="MLC Insurance" description="Seguro médico, sin estrés">
  <TopNav />
  <main>
    <Hero />
  </main>
</SiteShell>
