---
import SiteShell from "../layouts/SiteShell.astro";
import TopNav from "../components/TopNav.astro";
import Hero from "../components/Hero.astro";
---
<SiteShell title="MLC Insurance" description="Seguro médico, sin estrés">
  <div class="mlc-bg">
    <TopNav />
    <main>
      <Hero />
    </main>
  </div>
</SiteShell>
